* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
    overflow-x: hidden;
}

body{
    background: hsl(257, 40%, 49%);
}
.container {
    background: hsl(257, 40%, 49%);
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    margin: auto;
    height: 100vh;
    z-index: -1;
}

header{
    padding: 40px 0 20px 40px;
    z-index: 1;
}

section {
    display: flex;
}

.conteudo {
    padding: 0 40px;
    height: 70vh;
}

.mockup {
    margin: auto;
    width: 60%;
}

.text {
    margin: auto;
    padding: 40px;
    color: white;
}

.text h1 {
    font-size: 4rem;
}

.text p{
    margin-bottom: 20px;
}

p{
    font-size: 1.05rem;
    color: white;
    text-align: center;
}

.btnSolid{
    display: block;
    border: none;
    text-decoration: none;
    align-items: center;
    text-align: center;
    width: 300px;
    height: min-content;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.social_links{
    position: relative;
    left: -100px;
    bottom: 20px;
}
.social{
    font-size: 1.5rem;
    text-align: right;
    z-index: 10;
}
.social li{
    padding: 20px;
}

.btnSolid:hover{
    background-color: hsl(300, 69%, 71%);
    color: hsl(257, 37%, 11%);
    transition: 1s;
}

.form_data{
    margin-bottom: 30px;
}
.formulario{
    margin: auto;
    width: 50%;
    padding: 40px;
}
.formulario input{
    display: block;
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    border: none;
}
.formulario label{
    padding: 6px;
    font-size: 1.2rem;
    color: white;
}
.send{
    margin: auto;
}

@media screen and (max-width: 417px){
    header img {
        width: 30%;
    }

    .container{
        background-image: url(/images/bg-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

    .mockup {
        width: 100%;
    }

    .conteudo {
        display: block;
        height: 100%;
    }

    .text{
        text-align: center;
        margin: auto;
        padding: 15px;
        color: white;
    }

    .text h1 {
        font-size: 22px;
    }
    p{
        margin-top: 10px;
        font-size: 15px;
    }

    .btnSolid{
        margin: auto;
        width: 200px;
    }
    .social_links{
        position: relative;
        left: -150px;
        bottom: 0px;
    }
    .social li{
        text-align: center;
        font-size: 1rem;
        margin-top: auto;
    }
    .formulario{
        margin: auto;
        width: 100%;
        padding: 40px;
    }
    .formulario label{
        padding: 6px;
        font-size: 1.05rem;
        color: white;
    }
}