* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body{
    background: hsl(257, 40%, 49%);
}
.container {
    background: hsl(257, 40%, 49%);
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    margin: auto;
    height: 100vh;
    z-index: -1;
}

header{
    padding: 40px 0 20px 40px;
    z-index: 1;
}

section {
    display: flex;
}

.conteudo {
    padding: 0 40px;
    height: 70vh;
}

.mockup {
    margin: auto;
    width: 60%;
}

.text {
    margin: auto;
    padding: 40px;
    color: white;
}
.text p{
    margin-bottom: 20px;
}
p, h1, h2,h3{
    color: white;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

p{
    font-size: 1.05rem;
    text-align: center;
}

.btnSolid, .btn{
    display: block;
    border: none;
    text-decoration: none;
    align-items: center;
    text-align: center;
    width: 300px;
    height: min-content;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.btnSolid{
    background-color: white;
}
.btn{
    background-color: none;
    border: 2px solid hsl(300, 69%, 71%);
    box-shadow: none;
    color: white;

}

.social_links{
    position: relative;
    left: -100px;
    bottom: 20px;
}
.social{
    font-size: 1.5rem;
    text-align: right;
    z-index: 10;
}
.social li{
    padding: 20px;
}

.btnSolid:hover, .btn:hover{
    background-color: hsl(300, 69%, 71%);
    color: hsl(257, 37%, 11%);
    transition: 1s;
}

.form_data{
    margin-bottom: 30px;
}
.formulario, .whats, .projetos{
    margin: auto;
    width: 70%;
    padding: 30px;
}
.projetos{
    width: 80%;
}
.projeto_lay{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 0 30px 0 30px;
}
.projeto{
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

.projeto img{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.projetos h1{
    text-align: center;
}

.whats, .formulario{
    background-color: hsla(300, 69%, 71%, 0.534);
    border-radius: 20px;
}

.formulario input{
    display: block;
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    border: none;
}
.formulario label{
    padding: 6px;
    font-size: 1.2rem;
    color: white;
}
.send{
    margin: auto;
}

footer{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: hsla(300, 56%, 83%, 0.103);
    text-align: center;
    color: white;
    font-size: 1.2rem;
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

footer a:hover{
    /* color: hsl(257, 52%, 27%); */
    color: hsl(300, 63%, 82%);
    transition: 1s;
}

footer li {
    display: inline-block;
    padding: 30px;
    margin: auto;
}

@media screen and (max-width: 417px){
    header img {
        width: 30%;
    }

    .container{
        background-image: url(/images/bg-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
        /* background-attachment: scroll; */
    }

    .mockup {
        width: 100%;
    }

    .conteudo {
        display: block;
        height: 80%;
    }

    .text{
        text-align: center;
        margin: auto;
        padding: 15px;
        color: white;
    }

    h1 {
        font-size: 22px;
        margin: auto;
    }
    p{
        margin-top: 10px;
        font-size: 15px;
    }

    .btnSolid, .btn{
        margin: auto;
        width: 200px;
    }
    .social_links{
        display: none;
    }

    /* .social li{
        text-align: center;
        font-size: 1rem;
        margin-top: auto;
    } */
    .formulario, .whats, .projetos, .projeto_lay{
        margin: auto;
        width: 100%;
        padding: 40px;
    }
    .projetos{
        padding: 40px 0 0 0;
    }
    .projeto_lay{
        display: block;
    }
    .projeto{
        display: block;
        height: 80%;
        margin-bottom: 10px;
    } 
    .projeto img{
        width: 100%;
        height: 100%;
    }

    .formulario label{
        padding: 6px;
        font-size: 1.05rem;
        color: white;
    }
    footer li {
        display: inline-block;
        padding: 10px;
        /* margin: auto; */
    }
}