*{
    background-color: #F2F2F2;
    font-size: 15px;
    margin: 0;   
    /* overflow: hidden;  */
    font-family: 'Montserrat', sans-serif;
}

div{
    /* height: 500px; */
    width: 60%;
    margin: 0 auto;
    display: flex;
    /* margin-top: calc((100vh - 400px)/2); */
    margin-top: 40px;
}

.icon{
    height: 32px;
    margin: 45px 45px 45px 45px;
    background-color: transparent;
    /* deixar o background transparente já que adicionei uma cor ao fundo da página */
}

.card_1{
    display: inline-block;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card_2{
    display: inline-block;
    background-color: hsl(184, 100%, 22%);
    border-radius: 0;
}

.card_3{
    display: inline-block;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.75);
    text-align: left;
    margin-left: 45px;
}

.description{
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.75);
    text-align: left;
    margin: 30px 45px 45px 45px;
}

.button_learn{
    margin: 30px 45px 45px 45px;
    padding: 15px;
    background-color: hsla(0, 0%, 100%, 0.75);
    border-radius: 30px;
    border: 0;
    width: 150px;
}
.card_1 .button_learn{
    color: hsl(31, 77%, 52%);
}

.card_2 .button_learn{
    color: hsl(184, 100%, 22%);
}

.card_3 .button_learn{
    color: hsl(179, 100%, 13%);
}

.button_learn:hover{
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.75);
    transform: 10s;
    border: solid 1px;
}

@media screen and (max-width: 600px){
   div{
       display: block;
   }
}